# Common defaults for USB/IP bridge
CONFIG_USBIP_SERVER_TASK_STACK=8192
CONFIG_USBIP_SERVER_TASK_PRIORITY=8
CONFIG_USBIP_MAX_TRANSFER=4096

# Always use UART0 for console output.
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_ESP_CONSOLE_UART_NUM=0
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y

# Enable USB host external hub support.
CONFIG_USB_HOST_HUBS_SUPPORTED=y
CONFIG_USB_HOST_HUB_MULTI_LEVEL=y
